body{
    padding: 0;
    margin: 0;
    background-color: hsl(196, 65%, 27%);
    font-family: Arial, Helvetica, sans-serif;

}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1{
    color: rgba(255, 255, 255, 0.85);
    font-size: 5em;
    margin-bottom: -10px;
    margin-left: 13px;
}

h3{
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.85);
    border: rgba(255, 255, 255, 0.85) solid 4px;
    background-color: hsl(196, 65%, 27%);
    cursor: pointer;
}

#box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 630px;
    height: 630px;
    margin: auto;
    margin-top: 79px;
}

/* using wrap to make the grid shape and using width and height to get a 16x16 shaped square */

.hoverBox{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    /* border-radius: 50%; */
}

